<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8">
        <h1>Bacon</h1>
      </div>
      <div class="col-sm-4">
        <img src="http://baconmockup.com/300/200/" class="img-rounded" />
      </div>
    </div>
  </div>
  <h2>This is a way for me to learn Bootstrap.</h2>
  <p>
    Bacon ipsum dolor amet filet mignon swine doner, bresaola picanha drumstick pork chop kevin meatball jowl sirloin cow ground round tail leberkas. Jerky turkey tail drumstick pig cupim strip steak filet mignon alcatra tri-tip spare ribs ham. Kielbasa ham pork pork belly alcatra. Pork capicola short loin venison. T-bone cow picanha, kevin andouille bacon sirloin meatball short loin. Pork rump pig meatball chuck chicken. Meatball landjaeger alcatra sausage ground round picanha swine rump drumstick cupim short ribs fatback tri-tip.
  </p>
  <h2>Tabular bacon</h2>
  <h2>Bacon images</h2>
  <h2>Bacon buttons</h2>

</div>
